android/build/
android/.gradle/
android/.idea/workspace.xml
android/.idea/libraries/
android/app/.idea/workspace.xml
android/app/.idea/libraries/
android/app/build/
server/routes/thumbnails/
server/routes/uploads/
server/node_modules/.bin/
