android/local.properties
android/build/
android/.gradle/
android/.idea/
android/.idea/*
android/app/.idea/
android/app/.idea/*
android/app/build/
server/routes/thumbnails/
server/routes/uploads/
server/node_modules/
server/node_modules/*
*.iml
*.apk
